
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>STARTUP 101</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/theme/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/style-login.css" rel="stylesheet">        
        <script src="/javascripts/lib/facebooksdk.js"></script>
        <script src="/theme/jquery/dist/jquery.min.js"></script>
    </head>

    <body>
      <div class="container">
        <div class="text-vertical-center">
            <h1>Let's StartUp</h1>
            <h3>Welcom</h3>
            <br>
            <a href="javascript:;" id="btnStart" class="btn btn-dark btn-lg" onclick="" style="display:none;">Let's Start!</a>
        </div>
      </div>
    </body>

</html>
