<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>아이디어 목록 <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>아이디어명</th>
              <th>설명</th>
              <th>등록자</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>아이디어 테스트입니다.</td>
              <td>아이디어 테스트입니다.아이디어 테스트입니다.아이디어 테스트입니다.</td>
              <td>@mdo</td>
              <td>
                <button type="button" class="btn btn-round btn-success btn-xs"><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;0</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>아이디어 테스트입니다.</td>
              <td>아이디어 테스트입니다.아이디어 테스트입니다.아이디어 테스트입니다.</td>
              <td>@mdo</td>
              <td>
                <button type="button" class="btn btn-round btn-success btn-xs"><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;0</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>아이디어 테스트입니다.</td>
              <td>아이디어 테스트입니다.아이디어 테스트입니다.아이디어 테스트입니다.</td>
              <td>@mdo</td>
              <td>
                <button type="button" class="btn btn-round btn-success btn-xs"><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;0</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>아이디어 테스트입니다.</td>
              <td>아이디어 테스트입니다.아이디어 테스트입니다.아이디어 테스트입니다.</td>
              <td>@mdo</td>
              <td>
                <button type="button" class="btn btn-round btn-success btn-xs"><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;0</button>                
              </td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
